.RegistrationForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.RegistrationForm .Container {
  align-items: center;
  background-color: #0F1621;
  display: flex;
  flex-direction: column;
  height: 30rem;
  justify-content: center;
  width: 50rem;
}

.RegistrationForm .Container .Logo {
  margin-bottom: 2rem;
}

.RegistrationForm .Container .Input + .Input {
  margin-top: 0.2rem;
}

.RegistrationForm .Container .FormButtons {
  margin-top: 1rem;
}

@media (min-width : 320px) and (max-width : 480px) {
  .RegistrationForm .Container {
    height: 30rem;
    width: 32rem;
  }
}