.Description {
  color: #FFF;
  text-align: left;
  position: relative;
  font-family: 'Fira Sans';
}

.Description .wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(39, 45, 55, 0.75);
  padding: 0.5rem 1rem;
}

.Description .wrapper .title {
  font-size: 1.2rem;
  font-weight: 600;
}

.Description .wrapper .content {
  margin: 0;
  overflow: hidden;
}

.Description .wrapper .content.hidden {
  max-height: 0;
}

.Description .content.visible {
  max-height: 20rem;
  transition: max-height 0.5s ease-in;
}