@font-face {
  font-family: "Fira Sans";
  src: url("/fonts/FiraSans-Regular.woff") format("woff");
}

html {
  font-size: 10px;
}

body {
  background-color: #272D37;
  color: #FFF;
  font-family: 'Fira Sans';
}

html, body, #root, .App, .App > div:first-child{
  height: 100%;
}
